<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Landing Page - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="/">Chai Guys</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about">About Us</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="intro-header" style="padding-top:0px;padding-bottom:20px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1 style="color:blue;">Catering</h1>
                        <h3 style="color:gold;">Fill out your information so we can cater your next event!</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div style="text-align:center" class="submitform">
            <form name="submission" enctype="multipart/form-data" role="form" action="/submitted" method="POST">
                  <div style="text-align:left;" class="col-md-8">
                      <div class="form-group col-md-6">
                          Name: <input type="text" id="name" class="form-control" name="fullName" placeholder="Full Name" />
                      </div>
                      <div class="form-group col-md-6">
                          Email: <input type="email" class="form-control" name="emailAddress" placeholder="Email Address">
                      </div>
                      <div class="form-group col-md-6">
                          Organization: <input type="text" class="form-control" name="organization" placeholder="Organization">
                      </div>
                      <div class="form-group col-md-6">
                          Preferred Contact:
                          <div class="input-group-btn">
                             <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                               Select option
                               <span class="caret"></span>
                             </button>
                             <ul class="dropdown-menu pull-left">
                               <li><a>Facebook</a></li>
                               <li><a>Email</a></li>
                               <li><a>Phone</a></li>
                             </ul>
                          </div>
                      </div>
                      <div class="form-group col-md-6">
                          Phone Number: <input type="text" class="form-control" name="phoneNumber" placeholder="Phone Number (optional)">
                      </div>
                      <div class="form-group col-md-6">
                          Event Date: <input type="text" id="datepicker" class="form-control" name="eventDate" placeholder="Event Date">
                      </div>
                      <div class="form-group col-md-6">
                          Event Time: <input type="text" class="form-control" name="eventTime" placeholder="Event Time">
                      </div>
                      <div class="form-group col-md-6">
                          Estimated number of People:
                          <div class="input-group-btn">
                             <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                               Select option
                               <span class="caret"></span>
                             </button>
                             <ul class="dropdown-menu pull-left">
                               <li><a>Under 10</a></li>
                               <li><a>10-20</a></li>
                               <li><a>20-30</a></li>
                               <li><a>30-40</a></li>
                               <li><a>40-50</a></li>
                               <li><a>More than 50</a></li>
                             </ul>
                          </div>
                      </div>
                  </div>
                  <div style="text-align:left" class="col-md-4">
                      Additional Information:
                      <textarea name="extraText" class="form-control comment-form" rows="10" placeholder="Any extra information can go here!"></textarea>
                  </div>
                  <div>
                    <button style="margin-top:20px;width:50%;color:blue;" type="submit" class="btn btn-default">Submit</button>
                  </div>
              </form>
        </div>

        <footer>
        <div class="container">
            <p class="copyright text-muted small">Copyright &copy; Chai Guys 2014. All Rights Reserved</p>
        </div>
        </footer>

        <!-- jQuery  -->
        <script src="../static/js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="../static/js/bootstrap.min.js"></script>

        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

        <script>
            $(".dropdown-menu li a").click(function(){
              $(this).parents(".input-group-btn").find('.btn').text($(this).text());
              $(this).parents(".input-group-btn").find('.btn').val($(this).text());
            });
        </script>

        <script>
          $(function() {
            $("#datepicker").datepicker();
          });
        </script>
</body>

</html>
